@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
  --light-pink: lightpink;
  --light-gray: gray;
  --red: red;
}

body{
  font-family: 'Noto Sans', sans-serif;
  color: var(--light-gray) ;
}

.App{
  max-width: 960px;
  margin: 0 auto;
}

.title h1{
  color: var(--light-pink);
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  font-weight: normal;
  margin-left: 5px;
}


.title h2{
  margin-top: 50px;
  text-align: center;
  font-size: 2.2rem;
}



.title p{
  text-align: center;
}

.uploadimg input{
  display: none;
  cursor: pointer;
  border-radius: 2px;
}

.uploadimg span{
  color: var(--light-pink);
  cursor: pointer;
  font-size: 3rem;
  padding: 1rem;
  margin-left: 380px;
  margin-right: 380px;
  width: 120px;
  height: auto;
  border-radius: 2px;

  

}

.output{
  text-align: center;
  font-size: 0.8rem;

}

.progress-bar{
  height: 3px;
  background-color: var(--light-pink);
  margin-top: 20px;
}

